---
    // import { type APISpacesXResponse } from '../types/api';
    import CardLaunch from './CardLaunch.astro';
    import { getLatestLaunches } from '../services/spacesx';

    // const res = await fetch('https://api.spacexdata.com/v5/launches/query', {
    //     method: 'POST',
    //     headers: {
    //         'Content-Type': 'application/json'
    //     },
    //     body: JSON.stringify({
    //         query: {},
    //         options: {
    //             sort: {
    //                 date_unix: 'asc'
    //             },
    //             limit: 12
    //         }
    //     })
    // });
    // // const data = JSON.stringify(await res.json());
    // const { docs: launches } = await res.json() as APISpacesXResponse;
    // // console.log(data);
    // console.log(launches);

    const launches = await getLatestLaunches();

---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
    <!-- {
        launches.map(launch => 
            <article>
                <img src={launch.links.patch.small} alt={launch.name} />
                <h2>Launch: # {launch.id}</h2>
            </article>
        )
    } -->
    {
        launches.map(
            ({ id, links, details, flight_number: flightNumber, success }) => 
                <CardLaunch
                    id={id}
                    img={links.patch.small}
                    details={details}
                    flightNumber={flightNumber}
                    sucess={success}
                />
        )
    }
</div>
